<!DOCTYPE html>
<html>
<head>
  <title>CSHP Gala 2017</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%# google fonts %>
  <link href="https://fonts.googleapis.com/css?family=Cinzel:700|Roboto|Tangerine" rel="stylesheet">

</head>
<body id="cshpgala">
  <%= render 'layouts/navigation' %>
  <%-#= render 'layouts/messages' %>
  <div class="">
    <%= yield %>
  </div>
  <%-#= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
